<!-- Show Page, Shows Shares and Ability to Add/Remove Shares for List Owner-->

<div class="share-detail">
	<% if current_user != list.user %>
		<em><%= "Owner: #{list.user.email.downcase}" %></em>
	<% end %>
	<% if list.shares.length == 0 %>
	  <em><%= "No Shares" %>
	  	<% if current_user == list.user %>
			<span class="share-item hover-3"><%= image_tag("/images/share.png")%></span>
			<span class="hover-text-3">Share List</span>
		<% end %>
	  </em>
	  <ul class="shares-list">
	  </ul>
	<% elsif list.shares.length == 1 %>
	  <em><%= "1 Share:" %>
	  	<% if current_user == list.user %>
			<span class="share-item hover-3"><%= image_tag("/images/share.png")%></span>
			<span class="hover-text-3">Share List</span>
		<% end %>
	  </em> 
	  <ul class="shares-list">
		  <em><li id=<%= list.shares.first.id %> class="share-email">
	  			<%= list.shares.first.user.email %>
	  			<% if current_user == list.user %>
	  				<%= link_to image_tag("/images/remove.jpeg"), list.shares.first, method: :delete, remote: true, class: "share-item hover-2", hidden: true %>
		  			<span class="hover-text-2">Remove Share</span>
	  			<% end %>
	  		</li></em>
	  </ul>
	<% else %>
	  <em class="shares-expand"><%= "#{list.shares.length} Shares:" %>
	  	<% if current_user == list.user %>
			<span class="share-item hover-3"><%= image_tag("/images/share.png")%></span>
			<span class="hover-text-3">Share List</span>
		<% end %>
	  </em>
	  	<ul class="shares-list" hidden>
		  <% list.shares.each do |share| %>
		  	<em><li id=<%= share.id %> class="share-email">
	  			<%= share.user.email %>
	  			<% if current_user == list.user %>
	  				<%= link_to image_tag("/images/remove.jpeg"), share, method: :delete, remote: true, class: "share-item hover-2", hidden: true %>
		  			<span class="hover-text-2">Remove Share</span>
	  			<% end %>
	  		</li></em>
		  <% end -%>
	  	</ul>
	<% end %>
</div>