
<%= render('edit', :list => @list) %>

<%= render('shares', :list => @list) %>

<div class="add-share" hidden>
	<%= form_tag("/lists/#{@list.id}/shares", method: :post, remote: true) do -%>
		<% users = @list.shares.map {|s| s.user_id }%>
		<select name="share[user_id]">
			<option value="" selected></option>
			<% @users.each do |x| %>
				<% if x != current_user && !users.include?(x.id) %>
					<option value=<%= "#{x.id}" %>><%="#{x.email.downcase}"%></option>
				<% end %>
			<% end %>
		</select>
		
		<input name="share[list_id]" value=<%= "#{@list.id}" %> type="hidden">
		<input type="submit" value="Share List">
	<% end -%>
</div>

<ul class="list-items">
  <% if @list.items.length == 0 %>
  	<p class="empty-list"> This list is currently empty- add some items!</p>
  <% else %>
	  <% @list.items.each do |item| %>
	  	<%= render('items/show', :item => item) %>
	  	<%= render('items/edit', :item => item) %>
	  <% end -%>
  <% end %>
</ul>

<%= form_tag("/lists/#{@list.id}/items", method: :post, remote: true) do -%>
	<input type="text" id="content" name="item[content]">
	
	<input name="list[id]" value=<%= "#{@list.id}" %> type="hidden">
	<input type="submit" value="Add Item">
<% end -%>

</br>
</br>
<%= link_to 'View All Lists', lists_path %>
