<!-- <p id="notice"><%= notice %></p> -->


 <%= render('edit', :list => @list) %>

 <em><%= @list.list_type.capitalize %></em>

<ul class="list-items">
  <% if @list.items.length == 0 %>
  	<p class="empty-list"> This list is currently empty- add some items!</p>
  <% else %>
	  <% @list.items.each do |item| %>
	  	<%= render('items/show', :item => item) %>
	  	<%= render('items/edit', :item => item) %>
	  <% end -%>
  <% end %>
</ul>

<%= form_tag("/lists/#{@list.id}/items", method: :post, remote: true) do -%>
	<input type="text" id="content" name="item[content]">
	
	<input name="list[id]" value=<%= "#{@list.id}" %> type="hidden">
	<input type="submit" value="Add Item">
<% end -%>

</br>
</br>
<%= link_to 'View All Lists', lists_path %>
