<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400' rel='stylesheet' type='text/css'>
  <title>Lists</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

	<header id="main-header" class="cf">
		<div id="heading">
			<h1>lysts</h1>
			<em>collaborative planning</em>
		</div>

		<nav id="main-nav">
			<ul id="main-nav-list">
				<% if current_user %>
					<li><%= link_to 'My Lists', lists_path %></li>
					<li><%= link_to 'Public Lists', lists_public_path %></li>
					<li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
				<% else %>
				  <li><%= link_to 'Sign In', new_user_session_path %></li>
				<% end %>
			</ul>
		</nav>
		<p class="current-user"><%= current_user.email if current_user %></p>
	</header>

<div id="main-container">

	<%= yield %>

</div>

</body>
</html>
