<!DOCTYPE html>
<html>
<head>
  <title>Lists</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if current_user %>
	  You are signed in as <%= current_user.email %>.
	  <%= link_to 'sign out', destroy_user_session_path, :method => :delete %>
	<% else %>
	  Please <%= link_to 'sign in', new_user_session_path %> first.
	<% end %>

<%= yield %>

</body>
</html>
